.search-wrapper {
  display: flex;
  background-color: #006466;
  padding: 20px;
  box-shadow: 0 1px 30px rgba(255, 255, 255, 0.1);
}
.search-form {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 8px;
  position: relative;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
}

.search-input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  outline: none;
  padding-left: 70px;
  color-scheme: light dark;
  background-color: #242424;
  flex: 1;
}

.search-btn {
  position: absolute;
  height: 45px;
  opacity: 1;
  transition: opacity 250ms ease-in;
}
.search-btn:hover {
  opacity: 0.7;
}
