.overlay {
  /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  left: 0;
  /* display: flex; */
  width: 100vw;
  /* height: 100vh; */
  /* overflow: auto; Enable scroll if needed */

  background-color: rgba(52, 52, 52, 0.4);
}
.menu-modal {
  z-index: 300;
  background-color: #ded9d9;
  display: flex;
  position: relative;
  top: 0;
  justify-content: flex-end;
  padding: 10px;
}
.close-modal {
  float: right;
  background-color: transparent;
  padding: 0.25rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.nav-list {
  display: block;
}
