.overlay {
  position: sticky; /* Stay in place */
  z-index: 200; /* Sit on top */
  top: 0;
  left: 0;
  width: 100vw;
  /* height: 100vh; */
  /* overflow: auto; Enable scroll if needed */
  /* background-color: rgba(52, 52, 52, 0.8); */
}
.menu-modal {
  --d: 5s;

  z-index: 300;
  /* background-color: rgba(222, 217, 217, 0.4); */
  background-color: rgba(52, 52, 52, 0.2);
  position: relative;
  top: 0;
  /* justify-content: flex-end; */
  padding: 0 10px 5px;
  animation: var(--d) linear 1s modal;
}

@keyframes modal {
  from {
    transform: translateX(10);
  }
  to {
    transform: translateX(0);
  }
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 400;
  background-color: rgba(52, 52, 52, 0.4);
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 5px;
  outline: none;
}
.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 0 1em;
}

.container {
  max-width: 1024px;
  justify-content: center;
  margin: 0 auto;
  width: 100%;

  & li {
    border-bottom: 1px solid #efefef;
    width: 100%;
    padding: 10px 0;
  }
}

/* .nav-list-items:first-child {
  background-color: red;
  padding-top: 0;
} */
